@model ML.Usuario
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Usuario</h2>
            <h5>Ingrese los datos del Usuario:</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr />
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Form", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="form-horizontal">
                    <div class="form-group" style = "display: none;"> 
                        <div class="col-md-3" >
                            @Html.LabelFor(model => model.IdUsuario, new { @class = "hidden" })
                            @Html.TextBoxFor(model => model.IdUsuario, new { @class = "hidden form-control", autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.IdUsuario)
                            @*hidden*@
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.Label("User Name")
                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @id = "txtDireccionWeb" })
                            @Html.ValidationMessageFor(model => model.UserName, null, new { @class = "text-danger" })
                        </div>
                        <br>
                        <div class="col-md-3">
                            @Html.Label("Nombre")
                            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @id = "txtNombre" })
                            @Html.ValidationMessageFor(model => model.Nombre, null, new { @class = "text-danger" })
                        </div>
                        <br>
                        <div class="col-md-3">
                            @Html.Label("Apellido Paterno")
                            @Html.TextBoxFor(model => model.ApellidoPaterno, "{0:#.#}", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ApellidoPaterno, null, new { @class = "text-danger" })
                        </div>
                        <br>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.Label("Apellido Materno")
                            @Html.TextBoxFor(model => model.ApellidoMaterno, new { @class = "form-control", @id = "txtEmail" })
                            @Html.ValidationMessageFor(model => model.ApellidoMaterno, null, new { @class = "text-danger" })
                        </div>
                        <br>
                        <div class="col-md-3">
                            @Html.Label("Rol")
                            @Html.DropDownListFor(model => model.Rol.IdRol, new SelectList(Model.Rol.Roles, "IdRol", "Nombre"), "Selecciona una opción", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Rol.IdRol, null, new { @class = "text-danger" })
                        </div>
                        <br>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <input type="submit" value="Guardar" class="btn btn-success" />
                            @Html.ActionLink("Regresar", "GetAll", "Usuario", htmlAttributes: new { @class = "btn btn-danger" })
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>