    @model ML.Usuario
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Usuario</h2>
            <h5>Ingrese los datos del Usuario:</h5>
        </div>
    </div>

        <div class="col-md-12">
            @using (Html.BeginForm("Form", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="form-row">
                    <div class="form-group" style = "display: none;"> 
                        <div class="col-md-3" >
                            @Html.LabelFor(model => model.IdUsuario, new { @class = "hidden" })
                            @Html.TextBoxFor(model => model.IdUsuario, new { @class = "hidden form-control", autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.IdUsuario)
                            @*hidden*@
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.Label("User Name")
                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @id = "txtDireccionWeb" })
                            @Html.ValidationMessageFor(model => model.UserName, null, new { @class = "text-danger" })
                        </div>
                        <br>
                        <div class="col-md-3">
                            @Html.Label("Nombre")
                            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @id = "txtNombre" })
                            @Html.ValidationMessageFor(model => model.Nombre, null, new { @class = "text-danger" })
                        </div>
                        <br>
                        <div class="col-md-3">
                            @Html.Label("Apellido Paterno")
                            @Html.TextBoxFor(model => model.ApellidoPaterno, "{0:#.#}", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ApellidoPaterno, null, new { @class = "text-danger" })
                        </div>
                        <br>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.Label("Apellido Materno")
                            @Html.TextBoxFor(model => model.ApellidoMaterno, new { @class = "form-control", @id = "txtEmail" })
                            @Html.ValidationMessageFor(model => model.ApellidoMaterno, null, new { @class = "text-danger" })
                        </div>
                        <br>
                        <div class="col-md-3">
                            @Html.Label("Rol")
                            @Html.DropDownListFor(model => model.Rol.IdRol, new SelectList(Model.Rol.Roles, "IdRol", "Nombre"), "Selecciona una opción", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Rol.IdRol, null, new { @class = "text-danger" })
                        </div>
                        <br>
                         <div class="col-md-3">
                            @Html.Label("Fecha Nacimiento")
                            @Html.TextBoxFor(model => model.FechaNacimiento, new { @class = "form-control", @id = "#txtFechaRegistro",  autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.FechaNacimiento, null, new { @class = "text-danger" })
                        </div>
                        <br>
                         <div class="col-md-3">
                            @Html.Label("Contraseña")
                            @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @id = "txtEmail" })
                            @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })
                        </div>
                        <br>
                         <div class="col-md-3">
                            @Html.Label("Email")
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @id = "txtEmail" })
                            @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })
                        </div>
                        <br>
                         <div class="col-md-3">
                            @Html.Label("Sexo")
                            @Html.TextBoxFor(model => model.Sexo, new { @class = "form-control", @id = "txtEmail" })
                            @Html.ValidationMessageFor(model => model.Sexo, null, new { @class = "text-danger" })
                        </div>
                        <br>
                         <div class="col-md-3">
                            @Html.Label("Telefono")
                            @Html.TextBoxFor(model => model.Telefono, new { @class = "form-control", @id = "txtEmail" })
                            @Html.ValidationMessageFor(model => model.Telefono, null, new { @class = "text-danger" })
                        </div>
                        <br>
                         <div class="col-md-3">
                            @Html.Label("Celular")
                            @Html.TextBoxFor(model => model.Celular, new { @class = "form-control", @id = "txtEmail" })
                            @Html.ValidationMessageFor(model => model.Celular, null, new { @class = "text-danger" })
                        </div>
                        <br>
                         <div class="col-md-3">
                            @Html.Label("Estatus")
                            @Html.TextBoxFor(model => model.Estatus, new { @class = "form-control", @id = "txtEmail" })
                            @Html.ValidationMessageFor(model => model.Estatus, null, new { @class = "text-danger" })
                        </div>
                        <br>
                         <div class="col-md-3">
                            @Html.Label("CURP")
                            @Html.TextBoxFor(model => model.CURP, new { @class = "form-control", @id = "txtEmail" })
                            @Html.ValidationMessageFor(model => model.CURP, null, new { @class = "text-danger" })
                        </div>
                        <br>
                         <div class="col-md-3">
                            @Html.Label("Imagen")
                            @Html.TextBoxFor(model => model.Imagen, new { @class = "form-control", @id = "txtEmail" })
                            @Html.ValidationMessageFor(model => model.Imagen, null, new { @class = "text-danger" })
                        </div>
                        <br>
                         <div class="col-md-3">
                            @Html.Label("Calle")
                            @Html.TextBoxFor(model => model.Direccion.Calle, new { @class = "form-control", @id = "txtEmail" })
                            @Html.ValidationMessageFor(model => model.Direccion.Calle, null, new { @class = "text-danger" })
                        </div>
                        <br>
                        <div class="col-md-3">
                            @Html.Label("Numero Exterior")
                            @Html.TextBoxFor(model => model.Direccion.NumeroExterior, new { @class = "form-control", @id = "txtEmail" })
                            @Html.ValidationMessageFor(model => model.Direccion.NumeroExterior, null, new { @class = "text-danger" })
                        </div>
                        <br>
                        <div class="col-md-3">
                            @Html.Label("Numero Interior")
                            @Html.TextBoxFor(model => model.Direccion.NumeroInterior, new { @class = "form-control", @id = "txtEmail" })
                            @Html.ValidationMessageFor(model => model.Direccion.NumeroInterior, null, new { @class = "text-danger" })
                        </div>
                        <br>
                        <div class="col-md-3">
                            @Html.Label("Colonia")
                             @if (Model.Direccion.Colonia.Colonias == null)
                            {
                                @*model.Categoria.IdCategoria*@
                                @Html.DropDownListFor(model => model.Direccion.Colonia.IdColonia, new SelectList(string.Empty, "Value", "Text"), "Selecciona una Colonia", htmlAttributes: new { id = "ddlColonia", @class = "form-control" })

                            }
                            else
                            {
                                @Html.DropDownListFor(model => model.Direccion.Colonia.IdColonia, new SelectList(Model.Direccion.Colonia.Colonias, "IdColonia", "Nombre"), "Selecciona una Colonia", htmlAttributes: new { id = "ddlColonia", @class = "form-control" })
                            }
                        </div>
                        <br>
                        <div class="col-md-3">
                                @Html.Label("Municipio")
                                @if (Model.Direccion.Colonia.Municipio.Municipios == null)
                                {
                                    @*model.Categoria.IdCategoria*@
                                    @Html.DropDownListFor(model => model.Direccion.Colonia.Municipio.IdMunicipio, new SelectList(string.Empty, "Value", "Text"), "Selecciona un Municipio", htmlAttributes: new { id = "ddlMunicipio", @class = "form-control" })

                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.Direccion.Colonia.Municipio.IdMunicipio, new SelectList(Model.Direccion.Colonia.Municipio.Municipios, "IdMunicipio", "Nombre"), "Selecciona un Municipio", htmlAttributes: new { id = "ddlMunicipio", @class = "form-control" })
                                }
                         </div>
                         <br>
                          <div class="col-md-3">
                            @Html.Label("Estado")
                            @if (Model.Direccion.Colonia.Municipio.Estado.Estados == null)
                            {
                                @*model.Categoria.IdCategoria*@
                                @Html.DropDownListFor(model => model.Direccion.Colonia.Municipio.Estado.IdEstado, new SelectList(string.Empty, "Value", "Text"), "Selecciona un Estado", htmlAttributes: new { id = "ddlEstado", @class = "form-control" })

                            }
                            else
                            {
                                @Html.DropDownListFor(model => model.Direccion.Colonia.Municipio.Estado.IdEstado, new SelectList(Model.Direccion.Colonia.Municipio.Estado.Estados, "IdEstado", "Nombre"), "Selecciona un Estado", htmlAttributes: new { id = "ddlEstado", @class = "form-control" })
                            }
                        </div>
                        <br>
                        <div class="col-md-3">
                            @Html.Label("País")
                            @if (Model.Direccion.Colonia.Municipio.Estado.Pais.Paises == null)
                            {
                                @Html.DropDownListFor(model => model.Direccion.Colonia.Municipio.Estado.Pais.IdPais, new SelectList(string.Empty, "Value", "Text"), "Selecciona un Pais", htmlAttributes: new { id = "ddlPais", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Direccion.Colonia.Municipio.Estado.Pais.IdPais, null, new { @class = "text-danger" })
                            }
                            else
                            {
                                @Html.DropDownListFor(model => model.Direccion.Colonia.Municipio.Estado.Pais.IdPais, new SelectList(Model.Direccion.Colonia.Municipio.Estado.Pais.Paises, "IdPais", "Nombre"), "Selecciona un país", htmlAttributes: new { id = "ddlPais", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Direccion.Colonia.Municipio.Estado.Pais.IdPais, null, new { @class = "text-danger" })
                            }
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <input type="submit" value="Guardar" class="btn btn-success" />
                            @Html.ActionLink("Regresar", "GetAll", "Usuario", htmlAttributes: new { @class = "btn btn-danger" })
                        </div>
                    </div>
                </div>
            }
        </div>
</div>


@section Scripts
{

<script src="~/lib/jquery/dist/jquerty.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#ddlPais").change(function () {
            $("#ddlEstado").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetEstado")',
                dataType: 'json',
                data: { IdPais: $("#ddlPais").val() },
                success: function (estados) {
                    $("#ddlEstado").append('<option value="0">' + 'Seleccione una opción' + '</option>');
                    $.each(estados, function (i, estados) {
                        $("#ddlEstado").append('<option value="'
                                                   + estados.IdEstado + '">'
                                                   + estados.Nombre + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed.' + ex);
                }
            });
        });

       $("#ddlEstado").change(function () {
            $("#ddlMunicipio").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetMunicipio")',
                dataType: 'json',
                data: { IdEstado: $("#ddlEstado").val() },
                success: function (municipios) {
                    $("#ddlMunicipio").append('<option value="0">' + 'Seleccione una opción' + '</option>');
                    $.each(municipios, function (i, municipios) {
                        $("#ddlMunicipio").append('<option value="'
                                                   + municipios.IdMunicipio + '">'
                                                   + municipios.Nombre + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed.' + ex);
                }
            });
       });

        $("#ddlMunicipio").change(function () {
            $("#ddlColonia").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetColonia")',
                dataType: 'json',
                data: { IdMunicipio: $("#ddlMunicipio").val() },
                success: function (colonias) {
                    $("#ddlColonia").append('<option value="0">' + 'Seleccione una opción' + '</option>');
                    $.each(colonias, function (i, colonias) {
                        $("#ddlColonia").append('<option value="'
                                                   + colonias.IdColonia + '">'
                                                   + colonias.Nombre + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed.' + ex);
                }
            });

        });

    });

</script>
}